<div class="board flex justify-center items-center mt-5">
  <div class="boardCards flex mt-5 flex-wrap gap-2">
    <% board.player_cards.ordered.each do |player_card| %>
      <div class="board-card p-1 card border hover:bg-purple-500 hover:cursor-pointer">
        <p>Suit: <%= player_card.card.suit %></p>
        <p>Value: <%= player_card.card.value %></p>
      </div>
    <% end %>
  </div>
</div>
