<%= turbo_frame_tag game do %>
  <% if flash[:notice].present? %>
    <div class="flex justify-center mt-5">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="players flex justify-evenly flex-wrap mt-5">
    <% game.players.order(turn_order: :asc).each do |player| %>
      <%= render partial: 'games/player', locals: { player:, current_player: } %>

      <hr>
    <% end %>
  </div>

  <%= render 'games/board', board: game.board %>
<% end %>
