<div class="flex justify-center mt-12">
  <form action=<%= initialize_game_path %> method="post">
    <div id="playersList" data-controller="players">
      <button class="bg-blue-400 text-slate-100 rounded p-2 mb-2" type="button" data-action="click->players#addPlayer">Add Player</button>
      <div class="player">
        <input type="text" name="game[players][]" data-players-target="playerName" placeholder="Player Name" class="rounded">
        <button type="button" data-action="click->players#removePlayer" class="rounded p-2 bg-red-400">Remove Player</button>
      </div>
    </div>

    <button type="submit" class="rounded p-2 bg-lime-500 mt-2">Start game</button>

    <% if @game.errors.any? %>
      <div class="bg-red-400 text-slate-100 rounded p-2 mt-2">
        <ul>
          <% @game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </form>
</div>
