<%= turbo_stream_from @game %>
<%= turbo_stream_from @current_player %>

<% if flash[:notice].present? %>
  <div class="flex justify-center mt-5">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="mt-5">
  <%= render(GameComponent.new(game: @game, current_player: @current_player))%>
</div>
